# requirements.txt
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
starlette-admin
babel>=2.16.0
starlette-babel
itsdangerous
python-multipart
pydantic-settings
jinja2
python-dotenv
pandas
openpyxl